<h2>Load Formats</h2>
<p>Form to add in the expected line tokens and how wide each token is.</p>

<button (click)="addControlToArray()">Add Row</button>
<button (click)="removeLastGroupFromArray()" [disabled]="tokenArray.length == 1">Remove Control</button>
<form [formGroup]="tokenArray" *ngFor="let control of tokenArray.controls">
  <ng-container [formGroup]="control">
    <input formControlName="tokenName" autocomplete="off"/>
    <input formControlName="tokenStart" type="number" min="0"/>
    <input formControlName="tokenEnd" type="number" min="0"/>
  </ng-container>

</form>

{{tokenArray?.value | json}}
