<p>In the application that I work on, remote users upload files to a website and then view them. I wanted to see how much of that same use-case could be possible done locally.</p>
<label for="fileUpload">Read a file:</label>
<input type="file" [formControl]="fileForm"
       id="fileUpload"
       accept="text/*"
       (change)="changeListener($event)" #input>

<p>On the other hand, if you want to clear the database of date, click the button below</p>
<button (click)="showDialog()">Clear</button>
<dialog #confirm>
  <p>
    Are you sure?
  </p>
  <button (click)="clearDatabase()">Yes, delete all data</button>
  <button (click)="closeDialog()">No, don't delete all data</button>
</dialog>
